header {
    display: flex;
    justify-content: center;  
    align-items: center;  
    margin: auto;
    padding-bottom: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    #headNav {
        width: 90%;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;

        img {
            width: 80px;
            border-radius: 50%;
            display: block;
            margin-left: 0;
        }

        #mainUl {
            display: flex;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 50%;
            justify-content: flex-end;

            li {
                position: relative;
                margin-right: 1rem;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 16px;
                    display: block;
                    padding: 0.5rem;
                }

                &:hover a, &:hover {
                    color: #007bff;
                }

                #toggleUl {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    width: auto;  /* Ajuste la largeur de la liste déroulante */
                }

                #toggleUl.open {
                    display: block;
                }

                #toggleUl li {
                    padding: 0.5rem;
                    text-align: left;
                }

                #toggleUl li a {
                    color: #000;
                    text-decoration: none;
                    padding: 0.3rem;
                    display: block;
                }

                #toggleUl li a:hover {
                    background-color: #f1f1f1;
                }
            }
        }

        li {
            position: relative;
            margin-right: 1rem;
            list-style-type: none;

            &:last-child {
                margin-right: 0;
            }

            a {
                text-decoration: none;
                color: #000;
                font-size: 16px;
                display: block;
                padding: 0.5rem;
            }

            &:hover a {
                color: #007bff;
            }
        }

        #contact{
            background-color: #007bff;
            padding: 5px 10px;
            border-radius: 8px;
            color: #fff;
            
            & a{
                color: #fff !important;
                text-decoration: none;
                font-weight: bold;
            }

        }
    }
}
