header {
    padding: 10px 20px;
    background: linear-gradient(to left, #111827, #000000);
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 95%;
        margin: 0 auto;
        color : white;
    }

    .left {
        display: flex;
        align-items: center;
        margin-right: auto;

        .logo {
            height: 100px; 
            margin-right: 10px;
            border-radius: 50%;
        }

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #FFF;
        }
    }

    ul#mainUl {
        list-style: none;
        display: flex;
        gap: 40px;
        margin: 0 auto;
        
        li {
            position: relative;
            font-size: 25px;
            
            a {
                text-decoration: none;
                color: #FFF;
                font-weight: 500;
            }

            &:hover ul {
                display: block;
            }
        }

        ul {
            display: none;
            position: absolute;
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            padding: 10px;
            list-style: none;
            top: 100%;
            left: 0;

            &.open {
                display: block;
            }

            li {
                padding: 5px 10px;
                white-space: nowrap;

                a {
                    color: #333;
                }
            }
        }
    }

    #contact {
        margin-left: auto;
        list-style: none;
        font-size: 25px;
        
        a {
            text-decoration: none;
            color: white;
            background: #f97316;
            padding: 8px 20px;
            border-radius: 20px;
            font-weight: bold;
            transition: background 0.3s;

            &:hover {
                background: #0056b3;
            }
        }
    }
}
