<header>
    <nav id="headNav">
        <img src="images/logo.png" alt="Logo" class="logo">

        <ul id="mainUl">
            <li><a href="#">Accueil</a></li> <i class="fas fa-angle-down"></i>
            <li (click)="toggleMenu()">Spots
                <ul [ngClass]="{'open': isMenuOpen}" id="toggleUl">
                    <li><a href="#">Maillarenea</a></li>
                    <li><a href="#">Bittola</a></li>
                </ul>
            </li>
            <li><a href="#">Actualités</a></li>
            <li id="contact"><a href="#">Contact</a></li>
        </ul>

    </nav>
</header>