<footer class="footer">
    <div class="footer-content">
        <p>&copy; 2024 M'Trails - Tous droits réservés</p>

        <div class="social-icons">
            <a href="https://www.youtube.com/@m.trails64" target="_blank" class="icon">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/m.trails64/" target="_blank" class="icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <nav class="footer-links">
            <a routerLink="/mentions-legales">Mentions légales</a>
            <a routerLink="/contact">Contact</a>
        </nav>
    </div>
</footer>