<header>
    <nav id="headNav">
        <div class="left">
            <img src="images/logo.png" alt="Logo" class="logo">
            <h1>M'trails</h1>
        </div>
        
        <div class="menu-toggle" (click)="toggleMobileMenu()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        
        <ul id="mainUl" [ngClass]="{'active': isMobileMenuOpen}">
            <li><a href="#">Accueil</a></li>
            <li (click)="toggleMenu()">Spots
                <ul [ngClass]="{'open': isMenuOpen}" id="toggleUl">
                    <li><a href="#">Maillarenea</a></li>
                    <li><a href="#">Bittola</a></li>
                </ul>
            </li>
            <li><a href="#">Signalements</a></li>
            <li><a href="#">Actualités</a></li>
            <li class="mobile-contact"><a href="#">Contact</a></li>
        </ul>
        
        <li id="contact"><a href="#">Contact</a></li>
    </nav>
</header>