.home-container{
    background: linear-gradient(to left, #111827, #000000);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 80px;
    color: white;
    margin: 0 auto;
    max-width: 1200px;

    .left {
        flex: 1;
        max-width: 45%;
        
        h1 {
            font-size: 3.5rem;
            font-weight: bold;
            margin-bottom: 35px;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 50px;
        }

        a {
            display: inline-block;
            padding: 12px 24px;
            margin-right: 15px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.2rem;
            transition: all 0.3s;
        }

        #shape {
            background: #f97316;
            color: white;
            
            &:hover {
                transform:translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            }
        }

        #spots {
            background: transparent;
            color: white;
            border: 2px solid white;

            &:hover {
                transform:translateY(-5px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
            }
        }

        #shape:hover {
            background: #ea580c;
        }

        #spots:hover {
            background: white;
            color: #000;
        }
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: center;
        max-width: 45%;
        
        .home-image {
            width: 500px;
            height:  500px;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}
